@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SchoolManagmentSystemRemake.ViewModels.vmStudent

<div>
	<div>
		<div>
			<h2>@ViewBag.Action a Student</h2>
			<form method="post" asp-action="@ViewBag.Action">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" asp-for="StudentName" placeholder="Enter name">

					<label for="EducationalLevel">Educational Level</label>
					<select class="form-control" asp-for="EducationalLevel" asp-items="@(new SelectList(ViewBag.EducationalLevel,"Id","Level"))">
						<option>
							---select---
						</option>
					</select>
					<label for="City">City</label>
					<br />
					<select asp-for="City" class="form-control" asp-items="@(new SelectList(ViewBag.Cities,"Id","CityName","Students"))">
						<option>--select--</option>
					</select>
					<br />
					<label for="Courses">Course</label>
					<br />
					<select class="form-control">
						<option>--select--</option>
					</select>
					<br />

					<label for="dob">Date of Birth</label>
					<input type="date" class="form-control" id="dob" asp-for="DOB" placeholder="Date of Birth">
				</div>
				<br />
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>